<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <h2>Patient Management</h2>

    <p>Patient name: <span th:text="${patient.patientName}"/></p>
    <p>Patient Email: <span th:text="${patient.patientEmail}"/></p>
    <p>Doctor Email: <span th:text="${patient.email}"/></p>
    <p>Patient type: <span th:text="${patient.patientType}"/></p>

    <a th:href="@{/}">Back</a>
</div>

<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>